header{
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(0, 0, 0);
transition: 300ms;
width: 100%;




    nav{
       color: white ;
        padding: 20px 0px;
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            cursor: pointer;
            color: white    ;
            span{
                color: #b7472a ;
                
            }
        }
        ul{
            display: flex;
            gap: 35px;
            li{
                color: white ;
               
            }
        }
    }
}