footer{
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
   .container{

     width: 65%;
     flex-wrap: wrap;
     display: flex;
     align-items: center;
     justify-content: space-between;
    
    
     ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
       
     
      
    
        width: 230px;
        height: 200px;
        li{
           
            color: rgb(166, 166, 166);
            transition: 300ms;
            &:hover{
                color: #b7472a;
            }
            p{
                width: 170px;
            }
        }
        h2{
            color: white;
            span{
                color: rgb(129, 129, 129);
            }
        }
        
        .icons{
            display: flex;
            gap: 10px   ;
            .icon{
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #b7472a;
                border-radius: 100%;
            }
        }
 
     }

   }
    
}